@import url("https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap");
.showcase {
  height: 100vh;
  background-image: linear-gradient(transparent 70%, #fff),
    url(/imgs/vaqueiro.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

.poster {
  width: 100%;
}

.background {
  background-image: url(/imgs/fundo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.tb {
  display: table;
  width: 100%;
}

.td {
  display: table-cell;
  vertical-align: middle;
}

button {
  color: #fff;
  font-family: Nunito;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
}

#s-cover {
  width: 45px;
}

.button {
  position: relative;
  display: block;
  width: 40px;
  height: 39px;
  cursor: pointer;
  background-color: #ffb17b;
  border-radius: 0px 10px 10px 0px;
}

#s-circle {
  position: relative;
  top: -3px;
  left: 6px;
  width: 20px;
  height: 20px;
  margin-top: 0;
  border-width: 3px;
  border: 3px solid #000000;
  background-color: transparent;
  border-radius: 50%;
  transition: 0.5s ease all;
}

.button span {
  position: absolute;
  top: 40px;
  left: 11px;
  display: block;
  width: 33px;
  height: -8px;
  background-color: rgb(0, 0, 0);
  border-radius: 5px;
  transform: rotateZ(52deg);
  transition: 0.5s ease all;
}

.button span:before,
.button span:after {
  content: "";
  position: absolute;
  bottom: 3px;
  right: 22px;
  width: 12px;
  height: 3px;
  background-color: #060606;
  border-radius: 5px;
  transform: rotateZ(0);
  transition: 0.5s ease all;
}

#s-cover:hover #s-circle {
  top: -1px;
  width: 23px;
  height: 3px;
  border-width: 0;
  background-color: #000000;
  border-radius: 10px;
}

#s-cover:hover span {
  top: 50%;
  left: 47px;
  width: 15px;
  margin-top: -9px;
  transform: rotateZ(0);
}

#s-cover:hover button span:before {
  bottom: -15px;
  transform: rotateZ(-52deg);
}

#s-cover:hover button span:after {
  bottom: -4px;
  transform: rotateZ(52deg);
}

#s-cover:hover button span:before,
#s-cover:hover button span:after {
  right: 28px;
  width: 16px;
  background-color: #000000;
}

form {
  height: 96px;
}

.events {
  width: 100%;
  height: 100vh;
  background-color: white;
}

.title {
  font-family: "Orelega One", serif;
  text-shadow: 2px 2px 5px grey;
}

.background {
  background-image: url(/imgs/fundo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
/*CSS DA TELA SOBRE*/
.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre div {
  width: 45%;
  height: 40%;
  background-color: rgba(255, 255, 255, 0.819);
  font-family: koh Santepheab;
  color: black;
  font-weight: 500;
  border-radius: 20px;
  padding: 20px 20px 40px 40px;
}

.imagemsobre {
  background-image: url("/imgs/maovaq.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.infoimportantes {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
.infoimportantes h2 {
  font-family: "Overlock SC", sans-serif;
  font-size: 40px;
  color: #ffc107;
}
.conteudo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  border-radius: 20px;
  margin-top: 3%;
  margin-bottom: 3%;
  color: white;
}
.conteudo img {
  width: 40%;
  height: 90%;
  border-radius: 5px;
}
.conteudo .divcont {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 90%;
  border-radius: 5px;
  padding: 3%;
}
.divcont .botao {
  display: flex;
  width: 100%;
  justify-content: center;
}
.botao button {
  background-color: #ffeba1;
  border: none;
}
@media only screen and (max-width: 900px) {
  .sobre div {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .imagemsobre,
  .background {
    background-size: auto;
  }
  .conteudo {
    flex-direction: column;
  }
  .conteudo img {
    width: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .conteudo .divcont {
    width: 80%;
    margin-bottom: 5%;
  }
}
/*CSS DA TELA VAQUEJADAS_CADASTRADAS*/
.VaqCadastradas {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.VaqCadastradas .conteudobarras {
  background-color: rgba(255, 255, 255, 0.526);
  border-radius: 20px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2%;
  padding: 30px;
}

.conteudobarras .barra {
  display: flex;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.764);
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 40px;
}

.links a {
  text-decoration: none;
  padding: 3px;
}

.VaqCadastradas .conteudobarras button {
  border: 1px solid green;
  border-radius: 40px;
  background-color: rgb(138, 202, 138);
  color: white;
  padding: 10px;

}

.VaqCadastradas .conteudobarras h1 {
  color: white;
  text-shadow: 2px 2px 4px black;

}

.VaqCadastradas .conteudobarras img {
  width: 50%;
  height: 50%;
}

.imagemvaqcadastradas {
  background-image: url("/imgs/boi_vaq.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

@media only screen and (max-width: 1024px) {
  .VaqCadastradas .conteudobarras img {
    width: 90%;
    height: 90%;
  }

  .imagemvaqcadastradas {
    background-size: auto;
  }
}
/*CSS ADICIONAL DA PAGINA INFORMACOESFESTA*/
.ingressos {
  background-color: #424242;
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}
.ingressos .texto {
  display: flex;
  flex-direction: column;
}
.ingressos .texto p {
  margin: 0;
}
.ingressos .icons {
  display: flex;
  align-items: center;
}
.categorias {
  width: 100%;
  height: 700px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.contcat {
  width: 70%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.668);
  padding-top: 30px;
  padding-bottom: 30px;
  flex-direction: column;
}
.categoria {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  width: 80%;
  padding: 0;
  padding-right: 10px;
  padding-left: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}
.contcat .botoes {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: white;
}
@media only screen and (max-width: 900px){
  .contcat .inf{
    width: 80%;
  }
}
.imagemsobre {
  background-image: url("imgs/maovaq.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

